{% extends 'base.html' %}
{% block content %}
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form name="addForm" id="addForm" method="POST" action="{{ url_for('addpost') }}" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Başlık</label>
                <input type="text" class="form-control" placeholder="Başlık" id="title" name="title" required data-validation-required-message="Başlığı giriniz.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Altbaşlık</label>
                <input type="text" class="form-control" placeholder="Altbaşlık" id="subtitle" name="subtitle" required data-validation-required-message="Altbaşlığı giriniz.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Yazar</label>
                <input type="text" class="form-control" placeholder="Yazar" id="author" name="author" required data-validation-required-message="Adınızı giriniz.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>İçerik</label>
                <textarea rows="5" class="form-control" placeholder="İçerik" id="content" name="content" required data-validation-required-message="Yazıyı yazınız."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-success btn-sm" id="addPost">Yazı Ekle</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr>
{% endblock %}
