{% extends 'base.html' %}
{% block content %}
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto my-4">
      {% for post in posts %}
      <div class="post-preview my-4">
        <a href="{{ url_for('post', post_id=post.id) }}">
          <h2 class="post-title">{{ post.title }}</h2>
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
          </a>
          <p class="post-meta">{{ post.author }} - {{ post.date_posted.strftime('%B %d, %Y') }}</p>
        </div>
        <hr>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endblock %}
